@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Yellowtail&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

ul, ul li {
	list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-container{
    max-width: 1596px;
    margin: 0 auto;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
}



/* Header */

header{
    width: 100%;
    height: 204px;
    top: 0px;
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    font-size: 38px;
    font-weight: 700;
    margin-right: 150px;
}

.nav-items{
    display: flex;
}

.nav-item{
    margin-right: 45px;
    font-weight: 700;
    font-size: 20px;
    transition: color .2s;
}

.nav-item:hover{
    border-bottom: 1px solid #EFD372;
    color: #EFD372;
}

.nav nav{
    margin-right: 100px;
}

.search{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 18px;
    margin-left: 310px;
}

.search-input{
    width: 356px;
    height: 66px;
    border-radius: 36px;
    border: none;
    outline: none;
    background-color: #FAFAFA;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 400;
}

.search-circle{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #7EB693;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.cart{
    display: flex;
    align-items: center;
    width: 159px;
    height: 66px;
    border: 0.5px solid #E0E0E0;
    border-radius: 33px;
    position: relative;
}

.cart-circle{   
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.cart-circle svg:hover circle{
    fill: #34738b;
}

.cart span{
    margin-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}






/* Main */



.main{
    width: 100%;
    height: 890px;
    background-color: #F1EFF0;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bgeat.png);
}

.main img{
    position: absolute;
    right: 0px;
    top: 0px;
}

.main-items{
    margin-top: 247px;
    position: absolute;
}

.main-items span{
    font-family: 'Yellowtail', sans-serif;
    color: #68A47F;
    font-size: 36px;
}

.main-items p{
    margin-top: 0px;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 10px;
}

.main-items button{
    width: 222px;
    height: 79px;
    margin-top: 0px;
    display: flex;
    border-radius: 18px;
    border: none;
    outline: none;
    background-color: #EFD372;
    justify-content: center;
    align-items: center;
    gap: 10px;


    padding: 28px 39px;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .5s, border .10s;
}

.main-items button:hover{
    background-color: #e7c750;
    border: 1px solid #274C5B;
}

.main img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}










/* Advantages */

.advantages-items{
    display: flex;
    justify-content: center;
    margin-top: 152px;
    margin-bottom: 190px;
    gap: 36px;
} 

.natural{
    width: 682px;
    height: 367px;
    background-image: url(../images/pink.png);
    border-radius: 30px;
    transition: transform 0.5s;
}

.natural:hover{
    transform: translate(0px, -5px);;
}

.offer{
    width: 682px;
    height: 367px;
    background-image: url(../images/fruits.png);
    border-radius: 30px;
    transition: transform 0.5s;
}

.offer:hover{
    transform: translate(0px, -5px);;
}

.natural span{
    display: flex;
    font-family: 'Yellowtail', sans-serif;
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    margin-top: 109px;
    margin-left: 55px;
}

.natural p{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-left: 55px;
}

.offer span{
    display: flex;
    font-family: 'Yellowtail', sans-serif;
    color: #7EB693;
    font-size: 36px;
    font-weight: 400;
    margin-top: 109px;
    margin-left: 55px;
}

.offer p{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
    margin-left: 55px;
}












/* About Us */

.about-us{
    background-image: url(../images/bgabout.png);
    width: 100%;
    height: 1067px;
    background-color: #F1EFF0;
    overflow: hidden;
    background-repeat: no-repeat;
}

.about-us-items{
    margin-top: 186px;
    margin-left: 698px;
}

.about-us-title span{
    color: #7EB693;
    font-family: 'Yellowtail', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.about-us-title h2{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 14px;
    margin-top: 8px;
    line-height: normal;
}

.about-us-title p{
    color: #525C60;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
    margin-bottom: 46px;
}

.block{
    display: flex;
}

.block:nth-child(1){
    display: flex;
    margin-bottom: 15px;
}

.about-us-img{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 101px;
    height: 101px;
    border-radius: 20px;
    align-items: center;
}

.about-us-img img{
    width: 55px;
    height: 55px;
}

.about-us-text{
    margin-left: 19px;
}

.about-us-text h3{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 7px;
    margin-top: 0px;
}

.about-us-text p{
    margin-top: 0px;
    color: #525C60;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}

.about-us-items button{
    border: none;
    outline: none;
    display: flex;
    width: 245px;
    height: 79px;
    padding: 28px 39px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #274C5B;
    gap: 10px;
    margin-top: 40px;

    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: background-color .5s, color .3s;
    cursor: pointer;
}

.about-us-items button:hover{
    background-color: #ffffff;
    color: #274C5B;
    border: 1px solid #274C5B;
}








/* Categories */

.info-categories{
    text-align: center;
    margin-top: 176px;
}

.info-categories span{
    color: #7EB693;
    font-family: 'Yellowtail', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.info-categories h2{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;
}

.products-row{
    display: flex;
    gap: 20px;
}

.product-card{
    max-width: 335px;
    max-height: 483px;
    border-radius: 30px;
    border: 1px solid #274C5B;
    padding: 29px 0px 19px 0px;
    box-shadow: 6px 10px 10px #bebebe;
    margin-top: 40px;
    overflow: hidden;
    transition: transform .5s;
}

.product-card:hover{
    transform: translate(0px, -10px);
}

.product-card-type{
    display: inline-block;    
    padding: 5px 12px 6px 12px;
    border-radius: 8px;
    background-color: #274C5B;
    text-align: center;
    margin-left: 30px;

    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-card-img{
    max-height: 324px;
    width: 335px;
    text-align: center;
}

.products-card-content h4{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    margin-left: 30px;
}

.product-price-rating{
    display: flex;
    margin: 0px 30px 0px 30px;
    max-width: 279px;
    max-height: 31px;
    margin-top: 13px;
    padding-top: 6px;
    border-top: 1px solid #ececec;
    align-items: center;
    position: relative;
}

.outdated-price{
    text-decoration: line-through;
    color: #B8B8B8;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 8px;
}

.price{
    color: #274C5B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rating{
    margin-right: 0px;
    position: absolute;
    right: 0px;
}

a .btn-categories{
    width: 225px;
    height: 79px;
    display: flex;
    outline: none;
    border: none;
    padding: 28px 49px 28px 46px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #274C5B;
    cursor: pointer;

    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: background-color .5s, color .3s;
}

.btn-categories:hover{
    background-color: #ffffff;
    color: #274C5B;
    border: 1px solid #274C5B;
}

.btn-cat{
    display: flex;
    justify-content: center;
    margin-top: 122px;
}









/* Footer */

footer{
    margin-top: 150px;
}

.footer-info{
    display: flex;
    justify-content: center;
}

.contacts{
    text-align: right;
    height: 300px;
    width: 250px;
}

.contacts h3{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.data h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #525C60;
    margin-top: 30px;
}

.data span{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #525C60;
}

.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer span{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 5px;
}

.footer-networks p{
    color: #525C60;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}

.footer-networks{
    display: inline-block;
    padding: 0px 40px 0px 40px;
    
}

.footer-organick{
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    height: 245px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.social-networks{
    display: flex;
    justify-content: center;
    margin-top: 49px;
    gap: 15px;
}

.circle-net{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #EFF6F1;
    cursor: pointer;
    transition: background-color .3s;
}

.circle-net:hover{
    background-color: #d0fadc;
}

.utility-pages{
    width: 250px;
}

.utility-pages h3{
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.utility-pages p{
    color: #525C60;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
}